<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pogoda</title>
  </head>
  <body>
    <h1>Sprawdźmy obecną pogodę !</h1>
    <form action="/" method="POST">
      <input name="city" placeholder="Wpisz nazwę miasta" />
      <input type="submit" />
    </form>
    {% if data %}
    <p>{{data}}</p>
    {% endif %}
    <p>Dostawca API : OpenWeather</p>
  </body>
</html>
