<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <title>Guests</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a href="{{ url_for('home') }}" class="nav-link">Home</a></li>
        <li class="nav-item">
          <a href="{{ url_for('aboutme') }}" class="nav-link">About me</a>
        </li>
        <li class="nav-item"><a href="{{ url_for('gallery') }}" class="nav-link">Gallery</a></li>
        <li class="nav-item"><a href="{{ url_for('contact') }}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{{ url_for('guests') }}" class="nav-link active">Guests</a></li>
      </ul>
    </nav>
    <div class="container mt-5">
      <form method="post" action="/add">
        <div class="mb-3">
          <label for="exampleInputNick1" class="form-label">Nick</label>
          <input
            type="text"
            class="form-control"
            id="exampleInputNick1"
            name="exampleInputNick1"
            aria-describedby="nickHelp"
          />
        </div>
        <div class="mb-3">
          <label for="exampleInputText1" class="form-label">Text</label>
          <input type="text" class="form-control" id="exampleInputText1" name="exampleInputText1" />
        </div>
        <div class="mb-3">
          <label for="exampleInputDate1" class="form-label">Date</label>
          <input type="text" class="form-control" id="exampleInputDate1" name="exampleInputDate1" />
        </div>

        <button type="submit" class="btn btn-primary mb-4">Submit</button>
      </form>
      <h1>Lista komentarzy :</h1>
      <br />
      {% block content %} {% endblock %}
    </div>
  </body>
</html>
